body, html {
  height: 100%;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}
body a:link {
    text-decoration: none;
}
h2 {
  margin-top: 15px;
  float: left;
  display: inline;
  color: white;
  margin-left: 10px;
  font-size: 1.6rem;
  font-weight: normal;
}
h3 {
  font-size: 30px;
}
.uday {
  color: yellow;
  background-color: #2d132c;
  padding: 5px;
  font-weight: lighter;
}

.quotes {
  letter-spacing: 5px;

}

#navigationBarList {
  float: right;
  display: inline;
  margin-top: 15px;
  background-color: #222831;
}
#navigationBarList li {
  display: inline;
  margin-right: 25px;
  font-size: 1.5rem;
  font-weight: lighter;
}
li a{
  color: yellow;
}
a:hover {
  color: white;
}

.social-media a {
  color: #222831;
  padding: 10px;
  font-size: 20px;
}


.section1 {
  /* The image used */
  background-image: url("../images/sec1.jpg");


  /* Full height */
  height: 70%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
}

.abouts {
  /* The image used */
  background-image: url("../images/about.jpg");

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
}
.abt {
  padding: 15px 10px;
}
.abouth2 {
  margin-bottom: 20px;
}


.aboutsss {
  font-family: 'Questrial', sans-serif;
  line-height: 1.5;
  padding: 5px;
  font-weight: bold;
}
